# C/C++
*.exe
*.obj
*.pdb

# Mini vMac
*.dsk
*.ROM

# Visual Studio
.vs/*
.vs/

# Visual Studio Code
.vscode/
.vscode/*

# KDevelop 4
*.kdev4

# Meson
build/
builddir/
subprojects/

# Working files
_work/