# Binaries
*.exe
*.obj
*.dsk
*.ROM

# Visual Studio
.vs/*
.vs/

# Visual Studio Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# KDevelop 4
*.kdev4
*.pdb

# Meson
build/
subprojects/
reconfigure/