//LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

// Icons
ICO_APP 	ICON DISCARDABLE	"ICONAPPW.ico"
ICO_DSK 	ICON DISCARDABLE	"ICONDSKW.ico"
ICO_ROM 	ICON DISCARDABLE	"ICONROMW.ico"

// Binary data
SONY_DRV    RCDATA  "SONYDRV.bin"
SONY_ICO    RCDATA  "SONYICO.bin"

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION    	0,37,0,0
PRODUCTVERSION 	0,37,0,0
FILESUBTYPE    	0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "InvisibleUp\0"
            VALUE "Comments",         ""
            VALUE "FileDescription",  "A 68k Macintosh emulator\0"
            VALUE "FileVersion",      "v0.37.0\0"
            VALUE "InternalName",     "microvmac\0"
            VALUE "LegalCopyright",   "©1996-2020 various contributors. Licensed under the GPL v2.\0"
            VALUE "OriginalFilename", "microvmac.exe\0"
            VALUE "ProductName",      "micro vMac\0"
            VALUE "ProductVersion",   "v0.37.0\0"
        END
    END
END
